@charset "UTF-8";

td.marginline{
	height:70px;
}
td.footertext{
	font-size: 16px;
	color: #ccf3ff;
	font-family: Arial;
	text-align: center;
	background-color:  #0081C9; 
	padding: 5px 0 0 5px;
}
td.marginlineidx{
	height:115px;
}